[include]
    path = git-user.config

[core]
    excludesFile = ~/.config/git/ignore

[alias]
    pull = git pull --rebase

[pull]
    ff = only

[diff]
    tool = vimdiff

[difftool "vimdiff"]
    cmd = vimdiff "$LOCAL" "$REMOTE"

[merge]
    tool = vimdiff
    conflictstyle = diff3

[mergetool "vimdiff"]
    cmd = vimdiff "$LOCAL" "$BASE" "$REMOTE" "$MERGED"
    trustExitCode = false

[init]
    defaultBranch = main
