# will activate environment
ENVACTIVATE=$environment/activate.sh
if [ ! -e "$ENVACTIVATE" ]; then
  ENVACTIVATE=~/.environment/activate.sh
fi
echo ENVACTIVATE=$ENVACTIVATE
. $ENVACTIVATE
# did activate environment
